footer.footer
    .container
        //p(class="text-muted text-center") Place sticky footer content here.
// loading box with css3
div.loadingBox
    div.windows8
        div.wBall#wBall_1
            div.wInnerBall
        div.wBall#wBall_2
            div.wInnerBall
        div.wBall#wBall_3
            div.wInnerBall
        div.wBall#wBall_4
            div.wInnerBall
        div.wBall#wBall_5
            div.wInnerBall
    div.modal-backdrop.fade.in